[mysqld]
binlog_cache_size=4K
binlog_stmt_cache_size=4K
innodb_buffer_pool_instances=1
innodb_buffer_pool_size=512M
# innodb_log_file_size * innodb_log_files_in_group should be equals to 1/4 of buffer pool size
# innodb_log_file_size=8M
innodb_ft_cache_size=4M
innodb_ft_total_cache_size=32M
innodb_sort_buffer_size=8M
join_buffer_size=4M
key_buffer_size=256K
max_heap_table_size=32M
query_cache_limit=512K
query_cache_min_res_unit=2K
query_cache_size=32M
query_cache_type=1
read_buffer_size=1M
read_rnd_buffer_size=1M
sort_buffer_size=4M
table_definition_cache=1K
table_open_cache=2K
thread_cache_size=16
tmp_table_size=32M
